@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@font-face {
    font-family: 'Omori';
    src: url('../fonts/omori.ttf') format('truetype');
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Omori';
}

a:link, a:visited, a:active { 
    text-decoration: none; 
    color: #9b42f5; 
}

a:hover { 
    text-decoration: none; 
    color: #58278a; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 7%;
    min-width: 100%;

    background-color: rgb(221, 221, 251);
    
    font-size: 35px;

}
main {
    position: relative;
    display: flex;
    flex-direction: row;

    min-height: 86%;
    min-width: 100%;

    background: linear-gradient(135deg, #fefbff, #a168f9, #c8a4e9, #f6c0f8, #9ec5e2, #fefbff);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;

    backdrop-filter: blur(8px);
    overflow: scroll;
    padding: 0px;
    overflow-y: hidden;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 32.5%;
    width: 35%;
    height: 90%;
    background-image: url('../images/bulb4.png');
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    z-index: -1; 
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-height: 7%;
    min-width: 100%;
    
    background-color: rgb(221, 221, 251);
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    height: 100px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }